includes:
#    - ./../../Tools/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon # Optional: For cutting-edge rules

parameters:
    level: 5
    phpVersion: 80500
    tmpDir: .cache/phpstan
    paths:
        - src
#        - tests
    scanFiles:
        - loader.php
        - index.php
        - devtools.php
    excludePaths:
        - */vendor/* # Exclude vendor directory
    fileExtensions:
        - php
    treatPhpDocTypesAsCertain: false # Do not fully trust PHPDoc where runtime types are broader.
    polluteScopeWithLoopInitialAssignments: false # Optional: Configures scope behaviour in loops
